@font-face{
    font-family: "font";
    src: url("./assets/Font/OleoScript-Bold.ttf");
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
#Main{
    width: 100%;
    height: 100%;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: #000;
    padding: 5px 20px;
    display: flex;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    color: #fff;
}
.navleft{
    width: 30%;
    height: 100%;
    /* background-color:hotpink; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: font;
    letter-spacing: 1px;
}

.navleft>img{
    height: 60px;
}


.navright{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navright>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navright>div>div>a{
    text-decoration: none;
    text-transform: capitalize;
    color:#fff;
    font-size: 20px;
}

.navright > div > div > button {
  background-color:#fff;
  color:#000;
  border: none;
  padding: 8px 20px;
  border-radius: 999px; 
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navright > div > div > button img{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



