@font-face {
  font-family: "font";
  src: url("./assets/Font/OleoScript-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

#Main {
  width: 100%;
  height: 100%;
}

/* ------------- NAVBAR ------------- */
.navbar {
  width: 100%;
  height: 70px;
  background-color: #000;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
}

.navleft {
  display: flex;
  align-items: center;
  font-family: font;
  color: #fff;
  letter-spacing: 1px;
  /* background-color: hotpink; */
}

.navleft img {
  height: 60px;
  margin-right: 10px;
}

.navright {
  display: flex;
  align-items: center;
  /* background-color: blue; */
}

.navright > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navright a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
}

.navright button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 8px 20px;
  border-radius: 999px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navright button img {
  height: 30px;
  width: 30px;
}

/* Hide checkbox  */
#menu-toggle {
  display: none;
}

/* Hamburger icon */
.menu-icon {
  display: none;
  font-size: 30px;
  color: #fff;
}

/* --------- RESPONSIVE --------- */
@media (max-width: 1205px) {
  .menu-icon {
    display: block;
  }

  /* Hide nav links */
  .navright {
    display: none;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 70px;
    left: 0;
    text-align: center;
    padding: 20px 0;
  }

  .navright > div {
    flex-direction: column;
    gap: 15px;
  }
}
